# This notebook is to pull ACLED data

In [ ]:
##ACLED API documentation: https://acleddata.com/acleddatanew/wp-content/uploads/dlm_uploads/2019/01/API-User-Guide2020.pdf

## Libraries

In [3]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

## Info of counts on by ACLED region and total count

### Overall Counts

In [139]:
##Make request
URL = "https://api.acleddata.com/region/read?terms=accept"
r = requests.get(url = URL)
data = r.json()

In [140]:
##Normalize Json
df = json_normalize(data, 'data')
df

,event_count,first_event_date,last_event_date,region,region_name
0,36691,1997-01-01,2020-03-14,1,Western Africa
1,28871,1997-01-01,2020-03-14,2,Middle Africa
2,68768,1997-01-01,2020-03-14,3,Eastern Africa
3,20848,1997-01-05,2020-03-13,4,Southern Africa
4,49937,1997-01-01,2020-03-14,5,Northern Africa
5,155074,2010-01-01,2020-03-14,7,Southern Asia
6,34415,2010-01-01,2020-03-14,9,South-Eastern Asia
7,192603,2015-01-01,2020-03-14,11,Middle East
8,47591,2018-01-01,2020-03-14,12,Europe
9,63454,2017-01-01,2020-03-14,13,Caucasus and Central Asia
10,20549,2018-12-24,2020-03-14,14,Central America
11,26732,2019-01-01,2020-03-14,15,South America
12,1479,2019-01-01,2020-03-13,16,Caribbean

In [219]:
df.to_csv('regions.csv')

In [164]:
df['count'] = df['event_count'].astype(int)
total = df['count'].sum(axis=0)
print(total)

747012